<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ BaseURL + dish.image }}"
        alt="{{ dish.name }}"
      />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <span class="flex-spacer"></span>

        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">Go back</button>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h2>Comments</h2>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line>{{ comment.comment }}</p>

        <p mat-line><strong> Rating:</strong>{{ comment.rating }}stars</p>

        <p mat-line>--{{ comment.author }} {{ comment.date | date }}</p>
      </mat-list-item>
    </mat-list>
    <div>
      <form
        [formGroup]="commentForm"
        novalidate
        id="comment-form"
        (ngSubmit)="onSubmit()"
        #fform="ngForm"
      >
        <p>{{ commentForm.value | json }}</p>
        <mat-form-field>
          <p>
            <input
              matInput
              type="text"
              name="author"
              placeholder="Name"
              formControlName="author"
            />
          </p>
        </mat-form-field>
        <p>
          <mat-slider
            min="1"
            max="5"
            step="1"
            tickInterval="1"
            formControlName="rating"
          ></mat-slider>
        </p>
        <p>
          <textarea
            matInput
            formControlName="comment"
            placeholder="Your comment"
          ></textarea>
        </p>
        <p>
          <button mat-raised-button type="submit" color="primary">
            Submit
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
